@charset 'utf-8';

html {
  font-size: 62.5%;
}

.keyboradZy {
  max-width: 78.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.keyboradZy .ch,
.keyboradZy .en {
  padding: .2rem .3rem;
  box-sizing: border-box;
  background-color: #ddd;
  border-radius: .3rem;
}

.keyboradZy .ch>div,
.keyboradZy .en>div,
.keyboradInp {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.4rem;
}

.keyboradZy .ch>div>span,
.keyboradZy .en>div>span {
  text-align: center;
  flex: auto;
  -webkit-flex: auto;
  padding: 1rem .5rem;
  margin: .5rem .3rem;
  transition: .3s;
  box-shadow: .1rem .1rem .1rem .1rem #666;
  border: .1rem solid #ddd;
}

.keyboradZy .ch>div>span,
.keyboradZy .en>div>span,
.keyboradInp span {
  border-radius: .5rem;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

.keyboradZy .ch>div>span:active,
.keyboradZy .en>div>span:active {
  background-color: #ddc;
  box-shadow: 0 0 0 0 #fff;
  border-radius: .5rem;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
}

.keyboradZy .keyborad_del {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABZ0lEQVRYR+2W200DMRRETzqACoAKgAoIHdABoQKgA+ggVAAdQAfQAUkH0AF0gEbaKxnHr2tttD/rz6w1czx3vNkFE6/FxP7MAHMCrQksgVfgYKTS/gCXwKYFYAU8A1vgbSQAaX4AqxpAaK4URD7GkrnWsgSwL3MZVwH2aV4FaDU/Ay6Ap8RMVNZb4DEzr2wCrebStb0vwE1gJPN34AQ4zvQmCXA1XDW1vbVwMr8GDCI0l8amNQHFKepvh7lphxDS0clL5jsdUEyfwC8ggZ6rZhASPy+c3KD/jUCx6YfTYZYS8yyLXfBacSdSWjsd6IWIZ34XdSJ3kGQJQwi9p21TTiRXuLiYTQnYJoM4sj+Lwix02odM4Qzi0HMNeyAEnCtt6Vn1VexJwlPY5C0ozVikGsf90O4eM1cH4s29t6MGWh1BKCCI9XC9asKe50p1XfsgCQXV+rE+yb5spB4Az+ma984AcwKTJ/AHQABhIXkmPiIAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem !important;
}

.keyboradZy div>span.enableBtn {
  background-color: #ddd;
  pointer-events: none;
}

.keyboradInp>span {
  display: block;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  margin: 0 .2rem;
  border: .2rem solid #cdc496;
}

.keyboradInp .keyborad_interval {
  width: .5rem;
  box-shadow: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
}

.keyboradInp>span.keyborad_especial>font {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAvCAMAAABXLiNqAAAAe1BMVEX////6+vr4+Pj8/PzNzc3KysrAwMD29vbr6+vm5ubS0tLY2Njx8fG8vLzv7+/U1NSlpaXf39+1tbXCwsKysrLa2tq5ubmurq6oqKjo6OjPz8/z8/OdnZ2QkJDh4eHHx8eqqqqhoaHc3NzExMSYmJiWlpbj4+OJiYmIiIg8n+V6AAABhklEQVQ4y+2Ux47dIBRA6b2Du/Nsv5b8/xfG2FlEWcx4k0WiORIS5QC69yLAF/8LnF/z+oAueeGi1/efe3CnDxOE+EMNh+/fDn504EP8Qsk8U7po8Clrfz2OK8zztURTCsEX/wD4t0eJYH2s5/Sf3qTgLsjF7/0kEdDvuhVTDzUhShFqquUYe7ElhpQFAGOSCYzxtu57hnl8smwLs6J6/GFlUSOpffn0/qVURyM+hgkJ9hAOVKBkouNeIcjxpKV8NyQCoOWggWjv2WuSDu/Wlbnv6DNsL41Ja1ukQmavQTyTsE2OkZTzPCfbwXjiWglNiLeg3UjIe1+I0t5Z09Du8MQjh0yJRtmAaaVki36A/l5XGjtkulB7pkk4KqGKiBlgEoS2UaWUGuJKHpir1qEze52gDaOuelPP8nwbW1E/LWXHQY9327TwCF4by3XiyDpgOo6KJhpDRtwmrShOtSjdzqoxBoXHv+4lq4tb6YIZ1KQQbzZVa3nAca3l0WAdAGQMBieIg7/CT+PrFzXpIJefAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(.8);
  -webkit-transform: scale(.8);
}

.keyboradInp .keyborad_active {
  border: .2rem solid #d1824d;
}